.menu-icon {
    position: absolute;
}
.container {
    background-image: linear-gradient(#704D62, #121212);
    height: 100vh;
    color: white;

    .title {
        font-weight: 700;
        font-size: 1.5rem;
    }
    .artist {
        font-weight: 400;
        font-size:1rem;
    }

    img {
        border-radius: 50%;
    }
}