<div class="container">
    <div class="close-icon" (click)="closeMenu()">
        <img src="../../../assets/icons/close.svg">
    </div>
</div>

<section class="music-list-container">
    <div *ngFor="let song of musicList">
        <div class="song-container">
            <div class="image">
                <img src={{song.image}} alt="">
            </div>
            <div class="text">
                {{song?.title}}
                {{song?.artists}}
            </div>
        </div>
    </div>
</section>